[sssd]
domains = lab-lpp.local
config_file_version = 2
services = nss, pam

[domain/lab-lpp.local]
ad_domain = lab-lpp.local
krb5_realm = LAB-LPP.LOCAL
realmd_tags = manages-system joined-with-adcli 
cache_credentials = True
id_provider = ad
krb5_store_password_if_offline = True
default_shell = /bin/zsh
ldap_id_mapping = False
use_fully_qualified_names = False
fallback_homedir = /home/%u
override_shell = /bin/zsh
override_homedir = /home/%u
access_provider = ad
chpass_provider = ad
ad_gpo_access_control = permissive
